@model IEnumerable<BookShop.Models.ViewModels.TreeViewCategory>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <input type="checkbox" value="@item.id" name="CategoryID" /> @item.title
            @await Html.PartialAsync("_SubCategories", item.subs)
        </li>
    }

</ul>