@model IEnumerable<BookShop.Models.ViewModels.TreeViewCategory>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <input type="checkbox" value="@item.CategoryID" name="CategoryID" /> @item.CategoryName
            @await Html.PartialAsync("_SubCategories", item.SubCategories)
        </li>
    }

</ul>