@model BookShop.Models.Translator
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="row text-right">
    <div class="col-md-4 pull-right">
        <form asp-action="Edit">
            <input type="hidden" asp-for="TranslatorID" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Family"></label>
                <input asp-for="Family" class="form-control" type="text" />
                <span asp-validation-for="Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره تغییرات" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

